PORT=3001
NODE_ENV=development

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=devuser
DB_PASSWORD=devpassword
DB_NAME=caseStudyDB

# API
API_URL=http://localhost:3001

# Frontend
FRONTEND_URL=http://localhost:3000